<!--header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner"-->
<header class="navbar navbar-inverse bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--a href="http://www.lovetosh.com" class="navbar-brand">喜闻乐见</a-->
      <a href="http://www.lovetosh.com" class="navbar-brand">产品线</a>
	<!--a href="http://www.lovetosh.com"><img src="/static/img/lovetosh_logo.png"></a-->
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="../getting-started">国内新品</a>
        </li>
        <li class="active">
          <a href="../css">国际新品</a>
        </li>
        <li>
          <a href="../components">推荐榜</a>
        </li>
        <li>
          <a href="../javascript">点评榜</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="../about">登录</a>
        </li>
	<li>
          <a href="../about">注册</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!--div class="bs-header" id="content">
      <div class="container">
        <h1>CSS</h1>
        <p>设置全局CSS样式，基本的HTML元素均可以通过class设置样式并得到增强效果，还有先进的栅格系统。</p>
        
      </div>
    </div-->
