<ul>
<h3 class="t-h2"><em>产品汇</em><a href="/opinions" class="more">ALL</a></h3>
                    <!--li><h4>产品汇</h4></li-->
                    <li class="n-home"><a href="/#welcome">Mobile/手机</a></li>
                    <li class="n-policy"><a href="/policy/">Pad/平板</a></li>
                    <li class="n-apps"><a href="/apps/">Notebook/笔记本</a></li>
                    <li class="n-home"><a href="/#welcome">Wearable/可穿戴</a></li>
                    <li class="n-github"><a href="https://github.com/kippt">SMH/智能家居</a></li>
                    <!--li class="n-doc"><a href="https://github.com/kippt/api-documentation" ></a></li>
                    <li class="n-mailing"><a href="https://groups.google.com/forum/?fromgroups#!forum/kippt-developers">Mailing List</a></li-->
                </ul>
