<div class="hot-view">
        <h3 class="t-h2"><em>热门观点</em><a href="/opinions" class="more">更多…</a></h3>

        <div class="view-list idx-view">
            <div class="clearfix view-box">
                <div class="pull-left img-box">
                    <p><a href="/article/34199/1.html" target="_blank"><img src="http://u.img.huxiu.com/portal/201405/22/164617412kq6vnj9mlunib.jpg.thumb.jpg"></a></p></div>
                <div class="view-box-ctt">
                    <h4><a href="/article/34199/1.html" target="_blank">电商导购平台的求变：美丽说向左，折800向右</a></h4>
                    <div class="box-other">
                        <span class="source-quote"><a class="hx-card" userid="52103" href="/member/52103.html" target="_blank">xudo661</a><a href="/member/52103/authorapply.html" target="_blank" class="c-hxrz hxrzzz hxrzzz-level-3" title="虎嗅认证作者"></a></span>
                        <p><time>2014-05-22 16:30</time><span class="comment-box"><i class="icon-comment"></i><a href="/comment/34199/1.html" target="_blank">1</a></span></p>
                    </div>
                </div>
            </div><div class="clearfix view-box">
                <div class="pull-left img-box">
                    <p><a href="/article/34207/1.html" target="_blank"><img src="http://img.huxiu.com/portal/201405/22/144915z44jej6e8j6u2lfe.jpg.thumb.jpg"></a></p></div>
                <div class="view-box-ctt">
                    <h4><a href="/article/34207/1.html" target="_blank">鲁豫有约创业板，影视板块再成热点？</a></h4>
                    <div class="box-other">
                        <span class="source-quote"><a class="hx-card" userid="174953" href="/member/174953.html" target="_blank">煲汤味浓</a><a href="/member/174953/authorapply.html" target="_blank" class="c-hxrz hxrzzz hxrzzz-level-3" title="虎嗅认证作者"></a></span>
                        <p><time>2014-05-22 14:30</time><span class="comment-box"><i class="icon-comment"></i><a href="/comment/34207/1.html" target="_blank">2</a></span></p>
                    </div>
                </div>
            </div><div class="clearfix view-box">
                <div class="pull-left img-box">
                    <p><a href="/article/34248/1.html" target="_blank"><img src="http://img.huxiu.com/portal/201405/22/1220439ww6j86vfkx9k7yg.jpg.thumb.jpg"></a></p></div>
                <div class="view-box-ctt">
                    <h4><a href="/article/34248/1.html" target="_blank">锤子，情怀以及价值观</a></h4>
                    <div class="box-other">
                        <span class="source-quote"><a class="hx-card" userid="162436" href="/member/162436.html" target="_blank">信海光1sina</a><a href="/member/162436/authorapply.html" target="_blank" class="c-hxrz hxrzzz hxrzzz-level-3" title="虎嗅认证作者"></a></span>
                        <p><time>2014-05-22 12:21</time><span class="comment-box"><i class="icon-comment"></i><a href="/comment/34248/1.html" target="_blank">9</a></span></p>
                    </div>
                </div>
            </div><div class="clearfix view-box">
                <div class="pull-left img-box">
                    <p><a href="/article/34244/1.html" target="_blank"><img src="http://img.huxiu.com/portal/201405/22/110956xxpudw2pwpb2dd32.jpg.thumb.jpg"></a></p></div>
                <div class="view-box-ctt">
                    <h4><a href="/article/34244/1.html" target="_blank">NSA 唯一无法监视的电邮：服务器在瑞士，不接受风投</a></h4>
                    <div class="box-other">
                        <span class="source-quote"><a class="hx-card" userid="93" href="/member/93.html" target="_blank">翻来翻去</a></span>
                        <p><time>2014-05-22 11:14</time><span class="comment-box"><i class="icon-comment"></i><a href="/comment/34244/1.html" target="_blank">7</a></span></p>
                    </div>
                </div>
            </div><div class="clearfix view-box">
                <div class="pull-left img-box">
                    <p><a href="/article/34224/1.html" target="_blank"><img src="http://img.huxiu.com/portal/201405/22/102907spv5q7jevn44svjl.jpg.thumb.jpg"></a></p></div>
                <div class="view-box-ctt">
                    <h4><a href="/article/34224/1.html" target="_blank">从内部信开始，重新认识360</a></h4>
                    <div class="box-other">
                        <span class="source-quote"><a class="hx-card" userid="31445" href="/member/31445.html" target="_blank">俊世太保</a><a href="/member/31445/authorapply.html" target="_blank" class="c-hxrz hxrzzz hxrzzz-level-2" title="虎嗅认证作者"></a></span>
                        <p><time>2014-05-22 10:28</time><span class="comment-box"><i class="icon-comment"></i><a href="/comment/34224/1.html" target="_blank">0</a></span></p>
                    </div>
                </div>
            </div>        </div>
    </div>
